*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@font-face {
  font-family: myFont; /* set name */
  src: url(the-last-shuriken/The\ Last\ Shuriken.otf); /* url of the font */
}
#hero {
    width: 100%;
    height: 100vh;
    background-image: url(imagestobeused/japan-mountain-tree-sun-sea-simple-background-art-oriental-a.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.logo img{
    width: 50px;
    cursor: pointer;
    margin: 35px 0;    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #f1ecf0ed;
    font-size: 15px;
    font-family: myFont;
    padding: 5px 2px;
}
nav ul li a:hover{
    color: #ee5dca;
    border-bottom: 3px solid #e118af;
}
.left-col, .right-col{
    flex-basis: 50%;
}
.left-col{
    padding: 80px;
    margin: 60px 0;
}
h1{
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
    font-family: myFont;
}
p{
    color: white;
    margin: 30px 0;
    font-size: 17px;
    font-family: myFont;
}